= simple_form_for @role_type, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    = t('role_type.model_name')

  .form-inputs
    = f.input :name, label: t('role_type.name')
    = f.input :description, label: t('role_type.description')
    = f.association :parent, collection: RoleType.parent_statuses, value_method: :id, label: t('role_type.parent_id'), as: :radio_buttons


  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),role_types_path, class: 'btn btn-mini'
