%h2=t('role_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('role_type.name')
      %th= t('role_type.description')
      %th= t('role_type.parent_id')
      -if can? [:update, :destroy], :role_type
        %th.actions
          Actions
  %tbody
  -@role_types.each do |role_type|
    %tr{:id => "role_type_#{role_type.id}"}
      %td= link_to role_type.name, role_type
      %td= role_type.description
      %td= show_parent(role_type.parent_id)
      -if can? [:update, :destroy], :role_type
        %td.actions
          -if can? [:update], :role_type
            = link_to t('actions.edit'), edit_role_type_path(role_type), class: "btn btn-mini"
          -if can? [:destroy], :role_type
            = link_to t('actions.destroy'), role_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"
-if can? [:create], :role_type
  %br
  = link_to t('actions.new_record', record: t('role_type.model_name')), new_role_type_path, class: "btn btn-small btn-success"