%h2
  =t('forms.details')
  =" - "
  = @role_type.name
%div#role_type
  %dl.dl-horizontal
    %dt= t('role_type.name')
    %dd= @role_type.name
    %dt= t('role_type.description')
    %dd= @role_type.description
    %dt= t('role_type.parent_id')
    %dd= show_parent(@role_type.parent_id)
  
  -if can? :update, @role_type
    = link_to t('actions.edit'), edit_role_type_path(@role_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), role_types_path, class: 'btn btn-mini'
