%h2
  =t('nurse_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('nurse_role.medical_id')
      %th
        =t('nurse_role.person_id')
      %th.actions
        Actions

  %tbody
  -@nurse_roles.each do |nurse_role|
    %tr{:id => "nurse_role_#{nurse_role.id}"}

      %td= link_to nurse_role.medical_id, nurse_role


      %td= nurse_role.person_id

      %td.actions
        = link_to t('actions.edit'), edit_nurse_role_path(nurse_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), nurse_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('nurse_role.model_name')), new_nurse_role_path, class: "btn btn-small btn-success"