%h2
  =t('forms.details')
  =" - "
  = @nurse_role.medical_id
%div#nurse_role
  %dl.dl-horizontal
    %dt
      =t('nurse_role.medical_id')
    %dd
      = @nurse_role.medical_id
    %dt
      =t('nurse_role.person_id')
    %dd
      = @nurse_role.person_id
  
  = link_to t('actions.edit'), edit_nurse_role_path(@nurse_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), nurse_roles_path, class: 'btn btn-mini'
