%h2
  =t('person_status_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('person_status_type.name')
      %th= t('person_status_type.description')
      -if can? [:update, :destroy], :person_status_type
        %th.actions
          Actions

  %tbody
  -@person_status_types.each do |person_status_type|
    %tr{:id => "person_status_type_#{person_status_type.id}"}
      %td= link_to person_status_type.name, person_status_type
      %td= person_status_type.description
      -if can? [:update, :destroy], :person_status_type
        %td.actions
          -if can? [:update], :person_status_type
            = link_to t('actions.edit'), edit_person_status_type_path(person_status_type), class: "btn btn-mini"
          -if can? [:destroy], :person_status_type
            = link_to t('actions.destroy'), person_status_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :person_status_type
  %br
  = link_to t('actions.new_record', record: t('person_status_type.model_name')), new_person_status_type_path, class: "btn btn-small btn-success"