%h2
  =t('forms.details')
  =" - "
  = @person_status_type.name
%div#person_status_type
  %dl.dl-horizontal
    %dt= t('person_status_type.name')
    %dd= @person_status_type.name
    %dt= t('person_status_type.description')
    %dd= @person_status_type.description
  
  -if can? :update, @person_status_type
    = link_to t('actions.edit'), edit_person_status_type_path(@person_status_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), person_status_types_path, class: 'btn btn-mini'
