%h2
  =t('patient_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('patient_role.person_id')
      %th.actions
        Actions

  %tbody
  -@patient_roles.each do |patient_role|
    %tr{:id => "patient_role_#{patient_role.id}"}

      %td= link_to patient_role.person_id, patient_role

      %td.actions
        = link_to t('actions.edit'), edit_patient_role_path(patient_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), patient_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('patient_role.model_name')), new_patient_role_path, class: "btn btn-small btn-success"