%h2
  =t('forms.details')
  =" - "
  = @patient_role.person_id
%div#patient_role
  %dl.dl-horizontal
    %dt
      =t('patient_role.person_id')
    %dd
      = @patient_role.person_id
  
  = link_to t('actions.edit'), edit_patient_role_path(@patient_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), patient_roles_path, class: 'btn btn-mini'
