.nested-fields
  .control-group
    .controls
      %p
        = t('child_role.is_child')
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'
  .btn-toolbar
    .btn-group
      .btn.btn-small
        .links.parent_child_relationship
          = link_to_add_association t("child_role.link_label.add_parent"), f, :parent_child_relationships,
            {:'data-association-insertion-node' => '#parent_child_relationships',
            :'data-association-insertion-method' => :append, force_non_association_create: true}
  #parent_child_relationships
    = f.simple_fields_for :parent_child_relationships do |parent|
      = render 'parent_child_relationship_fields', :f => parent