.nested-fields
  .control-group
    .controls
      %p
        = t('contact_role.is_contact')
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'