.nested-fields
  .js-contact_mechanism_type
    = f.association :contact_mechanism_type, collection: ContactMechanismType.electronic,
      label: t('person.electronic_contact_type'), :prompt => t('forms.please_select'), as: :radio_buttons
  = f.simple_fields_for :electronic_address do |e_address|
    = render 'electronic_address_field', f: e_address