.nested-fields
  = f.input :contact_mechanism_type_id, as: :hidden, input_html: { value: phone_id }
  = f.simple_fields_for :telecommunications_number do |phone|
    = render 'telecommunications_number_field', f: phone