.nested-fields
  = f.input :contact_mechanism_type_id, as: :hidden, input_html: { value: ContactMechanismType.where(name: "Postal Address").first.id }
  = f.simple_fields_for :postal_address do |address|
    = render 'postal_address_field', f: address