.nested-fields
  .js-datepicker
    = f.input :diagnosis_date, as: :string
  = f.input :diagnosis_type do
    .js-diagnosis_type
      = f.input_field :diagnosis_type_id,  class: "token_input diagnosis_type", as: :string, data: { pre: f.object.diagnosis_type,
                                                                                      url: "/diagnosis_types.json",
                                                                                      hint_text: t('forms.hint_text'),
                                                                                      no_result_text: t('forms.no_result_text'),
                                                                                      searching_text: t('forms.searching_text')}
      = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'