.nested-fields
  .btn-toolbar
    .btn-group
      .btn.btn-small
        .links.doctor_contact_relationship
          = link_to_add_association t("doctor_role.link_label.add_contact"), f, :doctor_contact_relationships,
            {:'data-association-insertion-node' => '#doctor_contact_relationships',
            :'data-association-insertion-method' => :append, force_non_association_create: true}

  = f.input :medical_id do
    = f.input_field :medical_id, as: :string, label: t('doctor_role.medical_id')
    = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'

  #doctor_contact_relationships
    = f.simple_fields_for :doctor_contact_relationships do |cont_rel|
      = render 'doctor_contact_relationship_fields', :f => cont_rel