.nested-fields
  .js-electronic_address
    = f.input :electronic_address_string, label: t('person.electronic_address') do
      = f.input_field :electronic_address_string, as: :string,
              class: 'token_input electronic_address_string input-large',
              data: { pre: f.object,
                      url: "/electronic_addresses.json",
                      hint_text: t('forms.hint_text'),
                      no_result_text: t('forms.no_result_create'),
                      searching_text: t('forms.searching_text') }