= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  -if @person.errors.present?
    = @person.errors.full_messages.each do |msg|
      %p= msg
  %legend
    = controller.action_name.capitalize
    =t('person.model_name')

  -# define the dynamic models associated with a person as a hash to loop ove them to generate
  -# the redundant dynamic menu on the fly.
  - dynamic_models = {"nur_rol" => "nurse_role","doc_rol" => "doctor_role","genc_role" => "genetic_counselor_role", "pat_rol" => "patient_role","chil_rol" => "child_role","par_rol" => "parent_role","con_rol" => "contact_role","pay_rol" => "payor_role","cus_rol" => "customer_role","emp_rol" => "employee_role"}

  .btn-toolbar
    .btn-group
      - dynamic_models.each do |k,v|
        .btn.btn-small
          %div{class: "links #{v}"}
            = link_to_add_association t("person.link_label.add_#{v}"), f, v.to_sym,
              {:'data-association-insertion-node' => "##{v}",
              :'data-association-insertion-method' => :append, force_non_association_create: true}
  .btn-toolbar
    .btn-group
      .btn.btn-small
        .links.person_contact_mechanism_post
          = link_to_add_association t('person.link_label.add_postal_address'), f, :person_contact_mechanism_postals,
          {:'data-association-insertion-node' => '#person_contact_mechanisms_postal_address',
          :'data-association-insertion-method' => :prepend, force_non_association_create: true,
          :partial => 'person_contact_mechanism_postal_address_fields'}

      .btn.btn-small
        .links.person_contact_mechanism_telecommunication
          = link_to_add_association t('person.link_label.add_telecommunications_number'), f, :person_contact_mechanism_telecommunications,
          {:'data-association-insertion-node' => '#person_contact_mechanism_telecommunications',
          :'data-association-insertion-method' => :prepend, force_non_association_create: true,
          :partial => 'person_contact_mechanism_telecommunications_number_fields'}

      .btn.btn-small
        .links.person_contact_mechanism_electronic_address
          = link_to_add_association t('person.link_label.add_electronic_address'), f, :person_contact_mechanism_electronic_addresses,
          {:'data-association-insertion-node' => '#person_contact_mechanism_electronic_addresses',
          :'data-association-insertion-method' => :prepend, force_non_association_create: true,
          :partial => 'person_contact_mechanism_electronic_address_fields'}

  .form-inputs
    - dynamic_models.each do |k,v|
      %div{ id: "#{v}"}
        %div{ class: "js-cocoon #{v}"}
          = f.simple_fields_for v.to_sym do |k|
            = render "#{v}_fields", f: k

  .form-inputs
    #person_contact_mechanism_electronic_addresses
      .js-cocoon.postal_address
        = f.simple_fields_for :person_contact_mechanism_electronic_addresses do |pcm_email|
          = render 'person_contact_mechanism_electronic_address_fields', :f => pcm_email

    #person_contact_mechanisms_postal_address
      .js-cocoon.postal_address
        = f.simple_fields_for :person_contact_mechanism_postals do |pcm_postal|
          = render 'person_contact_mechanism_postal_address_fields', :f => pcm_postal

    #person_contact_mechanism_telecommunications
      .js-cocoon.telecommunications_number
        = f.simple_fields_for :person_contact_mechanism_telecommunications do |pcm_phone|
          = render 'person_contact_mechanism_telecommunications_number_fields', :f => pcm_phone


    = f.input :current_personal_title, label: t('person.current_personal_title'), collection: APP_CONFIG['person_titles'], input_html: {class: "input-small"}
    = f.input :current_first_name, label: t('person.current_first_name')
    = f.input :current_middle_name, label: t('person.current_middle_name')
    = f.input :current_last_name, label: t('person.current_last_name')
    = f.input :current_suffix, label: t('person.current_suffix'), collection: APP_CONFIG['person_suffixes'], input_html: {class: "input-mini"}
    = f.input :current_nickname, label: t('person.current_nickname')
    = f.association :gender_type, label: t('person.gender_type'), as: :radio_buttons, input_html: {class: "inline"}
    .js-datepicker
      = f.input :birth_date, label: t('person.birth_date'), as: :string
    = f.input :mothers_maiden_name, label: t('person.mothers_maiden_name')
    = f.input :passport_nationality, label: t('person.passport_nationality'), as: :country,
              priority: [ "South Africa" ], prompt: t('forms.please_select')
    = f.input :citizen_number, label: t('person.citizen_number')
    = f.input :comment, label: t('person.comment')

  .btn-toolbar
    .btn-group
      .btn.btn-mini
        .links
          = link_to_add_association t('person.link_label.add_category'), f, :person_category_classifications,
            {:'data-association-insertion-node' => '#categories',
            :'data-association-insertion-method' => :append, force_non_association_create: true }

      .btn.btn-mini
        .links
          = link_to_add_association t('person.link_label.add_person_status'), f, :person_statuses,
            {:'data-association-insertion-node' => '#person_statuses',
            :'data-association-insertion-method' => :append, force_non_association_create: true }
      .btn.btn-mini
        .links
          = link_to_add_association t('person.link_label.add_marital_status'), f, :person_marital_statuses,
            {:'data-association-insertion-node' => '#person_marital_statuses',
            :'data-association-insertion-method' => :append, force_non_association_create: true }
      .btn.btn-mini
        .links
          = link_to_add_association t('person.link_label.add_language'), f, :person_languages,
            {:'data-association-insertion-node' => '#person_languages',
            :'data-association-insertion-method' => :append, force_non_association_create: true }

      .btn.btn-mini
        .links.training
          = link_to_add_association t('person.link_label.add_training'), f, :person_trainings,
            {:'data-association-insertion-node' => '#person_trainings',
            :'data-association-insertion-method' => :append, force_non_association_create: true }

  .form-inputs
    #person_statuses
      .js-cocoon.person_statuses
        = f.simple_fields_for :person_statuses do |person_status|
          = render 'person_status_fields', :f => person_status
    #person_marital_statuses
      .js-cocoon.person_marital_statuses
        = f.simple_fields_for :person_marital_statuses do |marital_status|
          = render 'person_marital_status_fields', :f => marital_status
    #categories
      .js-cocoon.person_category_classifications
        = f.simple_fields_for :person_category_classifications do |category|
          = render 'person_category_classification_fields', :f => category
    #person_languages
      .js-cocoon.person_category_classifications
        = f.simple_fields_for :person_languages do |language|
          = render 'person_language_fields', :f => language
    #person_trainings
      .js-cocoon.person_trainings
        = f.simple_fields_for :person_trainings do |training|
          = render 'person_training_fields', :f => training

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),people_path, class: 'btn btn-mini'
