.nested-fields
  .control-group
    .controls
      %p
        = t('genetic_counselor_role.is_genetic_counselor')
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'