.nested-fields
  = f.input :medical_id do
    = f.input_field :medical_id, as: :string, label: t('nurse_role.medical_id')
    = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'