.nested-fields
  .control-group
    .controls
      %p
        = t('parent_role.is_parent')
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'