.nested-fields
  .js-patient_genetic_counselor_relationship
    = f.association :genetic_counselor_role, label: t('patient_role.genetic_counselor'), :collection => GeneticCounselorRole.all, :label_method => lambda { |i| i.person.current_full_name }, :prompt => t('forms.please_select')
    .js-datepicker.genetic_counselor.from_date
      = f.input :from_date, as: :string
    .js-datepicker.thru_date
      = f.input :thru_date do
        = f.input_field :thru_date, as: :string
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'

