.nested-fields
  .js-patient_nurse_relationship
    = f.association :nurse_role, label: t('patient_role.nurse'), :collection => NurseRole.all, :label_method => lambda { |i| i.person.current_full_name }, :prompt => t('forms.please_select')
    .js-datepicker.nurse.from_date
      = f.input :from_date, as: :string
    .js-datepicker.thru_date
      = f.input :thru_date do
        = f.input_field :thru_date, as: :string
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'

