.nested-fields
  
  .btn-toolbar
    .btn-group
      .btn.btn-small
        .links.diagnosis_type
          = link_to_add_association t("patient_role.link_label.add_diagnosis"), f, :diagnoses,
            {:'data-association-insertion-node' => '#diagnoses',
            :'data-association-insertion-method' => :append, force_non_association_create: true}
      .btn.btn-small
        .links.physical_characteristic_type
          = link_to_add_association t("patient_role.link_label.add_physical_characteristic_type"), f, :physical_characteristics,
            {:'data-association-insertion-node' => '#physical_characteristics',
            :'data-association-insertion-method' => :append, force_non_association_create: true}
      .btn.btn-small
        .links.patient_doctor_relationship
          = link_to_add_association t("patient_role.link_label.add_doctor"), f, :patient_doctor_relationships,
            {:'data-association-insertion-node' => '#patient_doctor_relationship',
            :'data-association-insertion-method' => :append, force_non_association_create: true}
      .btn.btn-small
        .links.patient_nurse_relationship
          = link_to_add_association t("patient_role.link_label.add_nurse"), f, :patient_nurse_relationships,
            {:'data-association-insertion-node' => '#patient_nurse_relationship',
            :'data-association-insertion-method' => :append, force_non_association_create: true}
      .btn.btn-small
        .links.patient_genetic_counselor_relationship
          = link_to_add_association t("patient_role.link_label.add_genetic_counselor"), f, :patient_genetic_counselor_relationships,
            {:'data-association-insertion-node' => '#patient_genetic_counselor_relationship',
            :'data-association-insertion-method' => :append, force_non_association_create: true}      

  #patient_doctor_relationship
    .js-cocoon.patient_doctor_relationship
      = f.simple_fields_for :patient_doctor_relationships do |doc_rel|
        = render 'patient_doctor_relationship_fields', :f => doc_rel
  #patient_nurse_relationship
    .js-cocoon.patient_nurse_relationship
      = f.simple_fields_for :patient_nurse_relationships do |nurse_rel|
        = render 'patient_nurse_relationship_fields', :f => nurse_rel 
  #patient_genetic_counselor_relationship
    .js-cocoon.patient_genetic_counselor_relationship
      = f.simple_fields_for :patient_genetic_counselor_relationships do |genetic_counselor_rel|
        = render 'patient_genetic_counselor_relationship_fields', :f => genetic_counselor_rel        

  #diagnoses
    .js-cocoon.diagnosis
      = f.simple_fields_for :diagnoses do |diag|
        = render 'diagnosis_fields', :f => diag
  #physical_characteristics
    .js-cocoon.diagnosis
      = f.simple_fields_for :physical_characteristics do |phy_char|
        = render 'physical_characteristic_fields', :f => phy_char
    = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'