.nested-fields
  .control-group.js-marital_status_type
    = f.label :martial_status_type, t('marital_status_type.martial_status'), class: "control-label string"
    .controls
      = f.association :marital_status_type do
        = f.input_field :marital_status_type_id,
                      :collection => MaritalStatusType.all,
                      prompt: t('forms.please_select')


        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'