.nested-fields
  .js-cocoon.person_contact_mechanism
    = f.input :from_date, as: :hidden, input_html: {value: "#{Time.now.to_date}" }
    .js-contact_mechanims_purpose
      = f.simple_fields_for :person_contact_mechanism_purpose_telecommunications do |pcmt|
        = render 'person_contact_mechanism_purpose_telecommunication_fields', :f => pcmt
      = link_to_add_association t('person.link_label.add_purpose_type'), f, :person_contact_mechanism_purpose_telecommunications


    .js-datepicker
      = f.input :thru_date, label: t('person_contact_mechanism.thru_date'), as: :string
    .js-role_type
      = f.association :role_type, collection: RoleType.where.not(parent_id: nil), label: t('role_type.model_name')
    = f.input :non_solicitation_ind, label: t('person_contact_mechanism.non_solicitation_ind'), as: :boolean, :boolean_style => :inline, :wrapper_html => { :style => 'display: inline' }

    = f.simple_fields_for :contact_mechanism_telecommunication do |cmt|
      = render 'contact_mechanism_telecommunication_fields', :f => cmt
    = f.input :extension, label: t('person_contact_mechanism.extension') do
      = f.input_field :extension, class: "extension"
      = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'