.nested-fields
  .control-group
    =f.label :person_status_type, t('person_status_type.model_name'), class: "control-label string"
    .controls.js-person_status_type
      = f.association :person_status_type_id do
        = f.input_field :person_status_type_id, :collection => PersonStatusType.all, :prompt => t('forms.please_select')
        = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'


