.nested-fields
  .js-language
    = f.association :language, label: t('party.language'), :collection => Language.order("name ASC"), :prompt => t('forms.please_select')
  = f.input :competency_level do
    = f.input_field :competency_level,
                    collection: %w{ Basic Conversant Proficient Fluent Bilingual Native },
                    label: t('language.competency_level')
    = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'

