.nested-fields
  .js-training_class_type
    = f.association :training_class_type, label: t('person.training'), :collection => TrainingClassType.all, :prompt => 'Choose a training'
  .js-training_from_date.js-datepicker
    =f.input :from_date, as: :string, placeholder: t('forms.click_to_enter_date'), label: t('forms.from_date')
  .js-training_from_date.js-datepicker
    = f.input :thru_date do
      = f.input_field :thru_date, as: :string, placeholder: t('forms.click_to_enter_date'), label: t('forms.from_date')
      = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'

