.nested-fields
  .js-category
    = f.input :category_id do
      = f.input_field :category_id, collection: Category.includes(:category_type).order("name ASC"), :prompt => t('forms.please_select')
      = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'
