.nested-fields
  .js-contact_mechanism_purpose_type
    = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger offset4'
    = f.input :contact_mechanism_purpose_type_id, label: t('person.contact_mechanism_type') do
      = f.input_field :contact_mechanism_purpose_type_id, collection: ContactMechanismPurposeType.order('name asc'), as: :radio_buttons
