.nested-fields
  .js-datepicker
    = f.input :thru_date, label: t('physical_characteristic.thru_date'), as: :string
  .js-physical_characteristic_type
    = f.association :physical_characteristic_type,  collection: PhysicalCharacteristicType.order("name ASC"), label: t('physical_characteristic_type.name')
  .js-physical_characteristic_value
    = f.input :value, as: :string, label: t('physical_characteristic.value')
  .js-unit_of_measure
    = f.input :unit_of_measure do
      = f.input_field :unit_of_measure_id, collection: UnitOfMeasure.order("name ASC"), label: t('unit_of_measure.model_name')
      = link_to_remove_association content_tag(:i, nil, class: 'icon-remove'), f, class: 'btn btn-small btn-danger'