.nested-fields
  .js-postal_city
    = f.input :geographic_boundary_id, label: t('postal_address.city') do
      = f.input_field :geographic_boundary_id, class: "token_input postal city", as: :string, data: { pre: f.object.geographic_boundary, url: "/geographic_boundaries/cities.json" }