.nested-fields
  .js-postal_country
    = f.input :geographic_boundary_id, label: t('postal_address.country') do
      = f.input_field :geographic_boundary_id, class: "token_input postal", as: :string, data: { pre: f.object.geographic_boundary, url: "/geographic_boundaries/countries.json" }
