.nested-fields
  .js-postal_suburb
    = f.input :geographic_boundary_id, label: t('postal_address.suburb') do
      = f.input_field :geographic_boundary_id, class: "token_input postal", as: :string, data: { pre: f.object.geographic_boundary, url: "/geographic_boundaries/suburbs.json" }