.nested-fields
  .js-postal_address
    .address1
      = f.input :address1
    .address2
      = f.input :address2
    .address3
      = f.input :address3
    #token_input
      = f.simple_fields_for :postal_address_postal_code_boundary do |postal_code|
        = render 'postal_address_postal_code_boundary_fields', f: postal_code
      = f.simple_fields_for :postal_address_city_boundary do |city|
        = render 'postal_address_city_boundary_fields', f: city
      = f.simple_fields_for :postal_address_suburb_boundary do |suburb|
        = render 'postal_address_suburb_boundary_fields', f: suburb
      = f.simple_fields_for :postal_address_country_boundary do |country|
        = render 'postal_address_country_boundary_fields', f: country
