.nested-fields
  .js-postal_code
    = f.input :geographic_boundary_id, label: t('postal_address.postal_code') do
      = f.input_field :geographic_boundary_id, class: "token_input postal postal_code", as: :string, data: { pre:f.object.geographic_boundary, url: "/geographic_boundaries/postal_codes.json" }