.nested-fields
  .js-telecommunications_number
    .js-country_code
      = f.input :country_code, as: :string, inner_html: { class: 'country_code' }
    .js-area_code
      = f.input :area_code, inner_html: { class: 'area_code' }
    .js-contact_number
      = f.input :contact_number, inner_html: { class: 'contact_number' }