%h2
  =t('person.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('person.current_full_name')
      %th= t('person.gender_type')
      %th= t('person.birth_date')
      %th= t('person.passport_nationality')
      %th= t('person.citizen_number')
      -if can? [:update, :destroy], :person
        %th.actions
          Actions

  %tbody
  -@people.each do |person|
    %tr{:id => "person_#{person.id}"}
      %td= link_to person.current_full_name, person
      %td= person.gender_type.name
      %td= person.birth_date
      %td= person.passport_nationality
      %td= person.citizen_number
      -if can? [:update, :destroy], :person
        %td.actions
          -if can? [:update], :person
            = link_to t('actions.edit'), edit_person_path(person), class: "btn btn-mini"
          -if can? [:destroy], :person
            = link_to t('actions.destroy'), person, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :person
  %br
  = link_to t('actions.new_record', record: t('person.model_name')), new_person_path, class: "btn btn-small btn-success"