%h2
  =t('forms.details')
  =" - "
  = @person.show_title
%div#person
  %dl.dl-horizontal
    = @person.title
    = @person.first_name
    = @person.middle_name
    = @person.last_name
    = @person.suffix
    = @person.nickname
    = @person.gender
    = @person.birth_date
    = @person.maiden_name
    = @person.nationality
    = @person.citizen_number
    = @person.comment
    = @person.nurse
    = @person.doctor
    = @person.genetic_counselor
    = @person.patient
    = @person.patient_doctor
    = @person.patient_nurse
    = @person.patient_genetic_counselor
    = @person.patient_diagnoses
    = @person.patient_physical_characteristics
    = @person.child
    = @person.parent
    = @person.contact
    = @person.payor
    = @person.customer
    = @person.employee
    = @person.uuid
    = @person.categories
    = @person.person_statuses
    = @person.marriages
    = @person.languages
    = @person.trainings
    = @person.postal_addresses
    = @person.telecommunications_numbers
    = @person.electronic_addresses


  -if can? :update, @person
    = link_to t('actions.edit'), edit_person_path(@person), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), people_path, class: 'btn btn-mini'
