= simple_form_for @unit_of_measure, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('unit_of_measure.model_name')


  .form-inputs
    = f.input :name, label: t('unit_of_measure.name')
    = f.input :description, label: t('unit_of_measure.description')
    = f.input :abbreviation, label: t('unit_of_measure.abbreviation')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),unit_of_measures_path, class: 'btn btn-mini'
