%h2
  =t('unit_of_measure.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('unit_of_measure.name')
      %th= t('unit_of_measure.description')
      %th= t('unit_of_measure.abbreviation')
      -if can? [:update, :destroy], :unit_of_measure
        %th.actions
          Actions

  %tbody
  -@unit_of_measures.each do |unit_of_measure|
    %tr{:id => "unit_of_measure_#{unit_of_measure.id}"}
      %td= link_to unit_of_measure.name, unit_of_measure
      %td= unit_of_measure.description
      %td= unit_of_measure.abbreviation
      -if can? [:update, :destroy], :unit_of_measure
        %td.actions
          -if can? [:update], :unit_of_measure
            = link_to t('actions.edit'), edit_unit_of_measure_path(unit_of_measure), class: "btn btn-mini"
          -if can? [:destroy], :unit_of_measure
            = link_to t('actions.destroy'), unit_of_measure, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :unit_of_measure
  %br
  = link_to t('actions.new_record', record: t('unit_of_measure.model_name')), new_unit_of_measure_path, class: "btn btn-small btn-success"