%h2
  =t('forms.details')
  =" - "
  = @unit_of_measure.name
%div#unit_of_measure
  %dl.dl-horizontal
    %dt= t('unit_of_measure.name')
    %dd= @unit_of_measure.name
    %dt= t('unit_of_measure.description')
    %dd= @unit_of_measure.description
    %dt= t('unit_of_measure.abbreviation')
    %dd= @unit_of_measure.abbreviation
  
  -if can? :update, @unit_of_measure
    = link_to t('actions.edit'), edit_unit_of_measure_path(@unit_of_measure), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), unit_of_measures_path, class: 'btn btn-mini'
