%h2
  =t('genetic_counselor_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('genetic_counselor_role.person_id')
      %th.actions
        Actions

  %tbody
  -@genetic_counselor_roles.each do |genetic_counselor_role|
    %tr{:id => "genetic_counselor_role_#{genetic_counselor_role.id}"}

      %td= link_to genetic_counselor_role.person_id, genetic_counselor_role

      %td.actions
        = link_to t('actions.edit'), edit_genetic_counselor_role_path(genetic_counselor_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), genetic_counselor_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('genetic_counselor_role.model_name')), new_genetic_counselor_role_path, class: "btn btn-small btn-success"