%h2
  =t('forms.details')
  =" - "
  = @genetic_counselor_role.person_id
%div#genetic_counselor_role
  %dl.dl-horizontal
    %dt
      =t('genetic_counselor_role.person_id')
    %dd
      = @genetic_counselor_role.person_id
  
  = link_to t('actions.edit'), edit_genetic_counselor_role_path(@genetic_counselor_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), genetic_counselor_roles_path, class: 'btn btn-mini'
