= simple_form_for @geographic_boundary_type, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('geographic_boundary_type.model_name')


  .form-inputs
    = f.input :name, label: t('geographic_boundary_type.name')
    = f.input :description, label: t('geographic_boundary_type.description')
    = f.input :is_code, label: t('geographic_boundary_type.is_code')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),geographic_boundary_types_path, class: 'btn btn-mini'
