%h2
  =t('geographic_boundary_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('geographic_boundary_type.name')
      %th= t('geographic_boundary_type.description')

      -if can? [:update, :destroy], :geographic_boundary_type
        %th.actions
          Actions

  %tbody
  -@geographic_boundary_types.each do |geographic_boundary_type|
    %tr{:id => "geographic_boundary_type_#{geographic_boundary_type.id}"}
      %td= link_to geographic_boundary_type.name, geographic_boundary_type
      %td= geographic_boundary_type.description

      -if can? [:update, :destroy], :geographic_boundary_type
        %td.actions
          -if can? [:update], :geographic_boundary_type
            = link_to t('actions.edit'), edit_geographic_boundary_type_path(geographic_boundary_type), class: "btn btn-mini"
          -if can? [:destroy], :geographic_boundary_type
            = link_to t('actions.destroy'), geographic_boundary_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :geographic_boundary_type
  %br
  = link_to t('actions.new_record', record: t('geographic_boundary_type.model_name')), new_geographic_boundary_type_path, class: "btn btn-small btn-success"