%h2
  =t('forms.details')
  =" - "
  = @geographic_boundary_type.name
%div#geographic_boundary_type
  %dl.dl-horizontal
    %dt= t('geographic_boundary_type.name')
    %dd= @geographic_boundary_type.name
    %dt= t('geographic_boundary_type.description')
    %dd= @geographic_boundary_type.description
    %dt= t('geographic_boundary_type.is_code')
    %dd= @geographic_boundary_type.is_code
  
  -if can? :update, @geographic_boundary_type
    = link_to t('actions.edit'), edit_geographic_boundary_type_path(@geographic_boundary_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), geographic_boundary_types_path, class: 'btn btn-mini'
