%h2
  =t('customer_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('customer_role.person_id')
      %th.actions
        Actions

  %tbody
  -@customer_roles.each do |customer_role|
    %tr{:id => "customer_role_#{customer_role.id}"}

      %td= link_to customer_role.person_id, customer_role

      %td.actions
        = link_to t('actions.edit'), edit_customer_role_path(customer_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), customer_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('customer_role.model_name')), new_customer_role_path, class: "btn btn-small btn-success"