%h2
  =t('forms.details')
  =" - "
  = @customer_role.person_id
%div#customer_role
  %dl.dl-horizontal
    %dt
      =t('customer_role.person_id')
    %dd
      = @customer_role.person_id
  
  = link_to t('actions.edit'), edit_customer_role_path(@customer_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), customer_roles_path, class: 'btn btn-mini'
