%h2
  =t('forms.details')
  =" - "
  = @geographic_boundary_association_type.name
%div#geographic_boundary_association_type
  %dl.dl-horizontal
    %dt= t('geographic_boundary_association_type.name')
    %dd= @geographic_boundary_association_type.name
    %dt= t('geographic_boundary_association_type.description')
    %dd= @geographic_boundary_association_type.description
  
  -if can? :update, @geographic_boundary_association_type
    = link_to t('actions.edit'), edit_geographic_boundary_association_type_path(@geographic_boundary_association_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), geographic_boundary_association_types_path, class: 'btn btn-mini'
