= simple_form_for @language, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('language.model_name')


  .form-inputs
    = f.input :name, label: t('language.name')
    = f.input :abbreviation, label: t('language.abbreviation')
    = f.input :description, label: t('language.description')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),languages_path, class: 'btn btn-mini'
