%h2
  =t('language.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('language.name')
      %th= t('language.abbreviation')
      %th= t('language.description')
      -if can? [:update, :destroy], :language
        %th.actions
          Actions

  %tbody
  -@languages.each do |language|
    %tr{:id => "language_#{language.id}"}
      %td= link_to language.name, language
      %td= language.abbreviation
      %td= language.description
      -if can? [:update, :destroy], :language
        %td.actions
          -if can? [:update], :language
            = link_to t('actions.edit'), edit_language_path(language), class: "btn btn-mini"
          -if can? [:destroy], :language
            = link_to t('actions.destroy'), language, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :language
  %br
  = link_to t('actions.new_record', record: t('language.model_name')), new_language_path, class: "btn btn-small btn-success"