%h2
  =t('forms.details')
  =" - "
  = @language.name
%div#language
  %dl.dl-horizontal
    %dt= t('language.name')
    %dd= @language.name
    %dt= t('language.abbreviation')
    %dd= @language.abbreviation
    %dt= t('language.description')
    %dd= @language.description
  
  -if can? :update, @language
    = link_to t('actions.edit'), edit_language_path(@language), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), languages_path, class: 'btn btn-mini'
