%h2
  =t('gender_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('gender_type.name')
      %th= t('gender_type.description')
      -if can? [:update, :destroy], :gender_type
        %th.actions
          Actions

  %tbody
  -@gender_types.each do |gender_type|
    %tr{:id => "gender_type_#{gender_type.id}"}
      %td= link_to gender_type.name, gender_type
      %td= gender_type.description
      -if can? [:update, :destroy], :gender_type
        %td.actions
          -if can? [:update], :gender_type
            = link_to t('actions.edit'), edit_gender_type_path(gender_type), class: "btn btn-mini"
          -if can? [:destroy], :gender_type
            = link_to t('actions.destroy'), gender_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :gender_type
  %br
  = link_to t('actions.new_record', record: t('gender_type.model_name')), new_gender_type_path, class: "btn btn-small btn-success"