%h2
  =t('forms.details')
  =" - "
  = @gender_type.name
%div#gender_type
  %dl.dl-horizontal
    %dt= t('gender_type.name')
    %dd= @gender_type.name
    %dt= t('gender_type.description')
    %dd= @gender_type.description
  
  -if can? :update, @gender_type
    = link_to t('actions.edit'), edit_gender_type_path(@gender_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), gender_types_path, class: 'btn btn-mini'
