= simple_form_for @application_user_role, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('application_user_role.model_name')


  .form-inputs
    = f.input :name, label: t('application_user_role.name')
    = f.input :description, label: t('application_user_role.description')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),application_user_roles_path, class: 'btn btn-mini'
