%h2
  =t('application_user_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('application_user_role.name')
      %th= t('application_user_role.description')
      -if can? [:update, :destroy], :application_user_role
        %th.actions
          Actions

  %tbody
  -@application_user_roles.each do |application_user_role|
    %tr{:id => "application_user_role_#{application_user_role.id}"}
      %td= link_to application_user_role.name, application_user_role
      %td= application_user_role.description
      -if can? [:update, :destroy], :application_user_role
        %td.actions
          -if can? :update, :application_user_role
            = link_to t('actions.edit'), edit_application_user_role_path(application_user_role), class: "btn btn-mini"
          -if can? :destroy, :application_user_role
            = link_to t('actions.destroy'), application_user_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? :create, :application_user_role
  %br
  = link_to t('actions.new_record', record: t('application_user_role.model_name')), new_application_user_role_path, class: "btn btn-small btn-success"