%h2
  =t('forms.details')
  =" - "
  = @application_user_role.name
%div#application_user_role
  %dl.dl-horizontal
    %dt= t('application_user_role.name')
    %dd= @application_user_role.name
    %dt= t('application_user_role.description')
    %dd= @application_user_role.description
  
  -if can? :update, @application_user_role
    = link_to t('actions.edit'), edit_application_user_role_path(@application_user_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), application_user_roles_path, class: 'btn btn-mini'
