%h2
  =t('contact_mechanism_purpose_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('contact_mechanism_purpose_type.name')
      %th= t('contact_mechanism_purpose_type.description')
      -if can? [:update, :destroy], :contact_mechanism_purpose_type
        %th.actions
          Actions

  %tbody
  -@contact_mechanism_purpose_types.each do |contact_mechanism_purpose_type|
    %tr{:id => "contact_mechanism_purpose_type_#{contact_mechanism_purpose_type.id}"}
      %td= link_to contact_mechanism_purpose_type.name, contact_mechanism_purpose_type
      %td= contact_mechanism_purpose_type.description
      -if can? [:update, :destroy], :contact_mechanism_purpose_type
        %td.actions
          -if can? [:update], :contact_mechanism_purpose_type
            = link_to t('actions.edit'), edit_contact_mechanism_purpose_type_path(contact_mechanism_purpose_type), class: "btn btn-mini"
          -if can? [:destroy], :contact_mechanism_purpose_type
            = link_to t('actions.destroy'), contact_mechanism_purpose_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:destroy], :contact_mechanism_purpose_type
  %br
  = link_to t('actions.new_record', record: t('contact_mechanism_purpose_type.model_name')), new_contact_mechanism_purpose_type_path, class: "btn btn-small btn-success"