%h2
  =t('forms.details')
  =" - "
  = @contact_mechanism_purpose_type.name
%div#contact_mechanism_purpose_type
  %dl.dl-horizontal
    %dt= t('contact_mechanism_purpose_type.name')
    %dd= @contact_mechanism_purpose_type.name
    %dt= t('contact_mechanism_purpose_type.description')
    %dd= @contact_mechanism_purpose_type.description

  -if can? :update, @contact_mechanism_purpose_type
    = link_to t('actions.edit'), edit_contact_mechanism_purpose_type_path(@contact_mechanism_purpose_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), contact_mechanism_purpose_types_path, class: 'btn btn-mini'
