%h2
  =t('marital_status_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('marital_status_type.name')
      %th= t('marital_status_type.description')
      -if can? [:update, :destroy], :marital_status_type
        %th.actions
          Actions

  %tbody
  -@marital_status_types.each do |marital_status_type|
    %tr{:id => "marital_status_type_#{marital_status_type.id}"}
      %td= link_to marital_status_type.name, marital_status_type
      %td= marital_status_type.description
      -if can? [:update, :destroy], :marital_status_type
        %td.actions
          -if can? [:update], :marital_status_type
            = link_to t('actions.edit'), edit_marital_status_type_path(marital_status_type), class: "btn btn-mini"
          -if can? [:destroy], :marital_status_type
            = link_to t('actions.destroy'), marital_status_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :marital_status_type
  %br
  = link_to t('actions.new_record', record: t('marital_status_type.model_name')), new_marital_status_type_path, class: "btn btn-small btn-success"