%h2
  =t('forms.details')
  =" - "
  = @marital_status_type.name
%div#marital_status_type
  %dl.dl-horizontal
    %dt= t('marital_status_type.name')
    %dd= @marital_status_type.name
    %dt= t('marital_status_type.description')
    %dd= @marital_status_type.description
  
  -if can? :update, @marital_status_type
    = link_to t('actions.edit'), edit_marital_status_type_path(@marital_status_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), marital_status_types_path, class: 'btn btn-mini'
