%h2
  =t('contact_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('contact_role.person_id')
      %th.actions
        Actions

  %tbody
  -@contact_roles.each do |contact_role|
    %tr{:id => "contact_role_#{contact_role.id}"}

      %td= link_to contact_role.person_id, contact_role

      %td.actions
        = link_to t('actions.edit'), edit_contact_role_path(contact_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), contact_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('contact_role.model_name')), new_contact_role_path, class: "btn btn-small btn-success"