%h2
  =t('forms.details')
  =" - "
  = @contact_role.person_id
%div#contact_role
  %dl.dl-horizontal
    %dt
      =t('contact_role.person_id')
    %dd
      = @contact_role.person_id
  
  = link_to t('actions.edit'), edit_contact_role_path(@contact_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), contact_roles_path, class: 'btn btn-mini'
