%h2
  =t('doctor_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('doctor_role.medical_id')
      %th
        =t('doctor_role.person_id')
      %th.actions
        Actions

  %tbody
  -@doctor_roles.each do |doctor_role|
    %tr{:id => "doctor_role_#{doctor_role.id}"}

      %td= link_to doctor_role.medical_id, doctor_role


      %td= doctor_role.person_id

      %td.actions
        = link_to t('actions.edit'), edit_doctor_role_path(doctor_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), doctor_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('doctor_role.model_name')), new_doctor_role_path, class: "btn btn-small btn-success"