%h2
  =t('forms.details')
  =" - "
  = @doctor_role.medical_id
%div#doctor_role
  %dl.dl-horizontal
    %dt
      =t('doctor_role.medical_id')
    %dd
      = @doctor_role.medical_id
    %dt
      =t('doctor_role.person_id')
    %dd
      = @doctor_role.person_id
  
  = link_to t('actions.edit'), edit_doctor_role_path(@doctor_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), doctor_roles_path, class: 'btn btn-mini'
