= simple_form_for @<%= singular_table_name %>, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    = t('<%= singular_table_name %>.model_name')


  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, label: t('<%= singular_table_name %>.<%= attribute.name %>')
  <%- end -%>

  .form-actions
    -if can? [:create, :update], :<%= singular_table_name %>
      = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),<%= plural_table_name %>_path, class: 'btn btn-mini'
