%h2
  =t('<%= singular_table_name %>.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
<%- attributes.reject(&:password_digest?).each do |attribute| -%>
      %th= t('<%= singular_table_name %>.<%= attribute.name %>')
<% end -%>
      -if can? [:update, :destroy], :<%= singular_table_name %>
        %th.actions
          Actions

  %tbody
  -@<%= plural_table_name %>.each do |<%= singular_table_name %>|
    %tr{:id => "<%= singular_table_name %>_#{<%= singular_table_name %>.id}"}
<% attributes.reject(&:password_digest?).each_with_index do |attribute, index| -%>
      <%- if index == 0 %>
      %td= link_to <%= singular_table_name %>.<%= attribute.name %>, <%= singular_table_name %>
      <%- else %>
      %td= <%= singular_table_name %>.<%= attribute.name %>
      <%- end %>
<% end -%>
      -if can? [:update, :destroy], :<%= singular_table_name %>
        %td.actions
          -if can? :update, :<%= singular_table_name %>
            = link_to t('actions.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "btn btn-mini"
          -if can? :destroy, :<%= singular_table_name %>
            = link_to t('actions.destroy'), <%= singular_table_name %>, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? :create, :<%= singular_table_name %>
  %br
  = link_to t('actions.new_record', record: t('<%= singular_table_name %>.model_name')), new_<%= singular_table_name %>_path, class: "btn btn-small btn-success"