%h2
  =t('forms.details')
  =" - "
  = @<%= singular_table_name %>.<%= attributes.reject(&:password_digest?).first.name %>
%div#<%= singular_table_name %>
  %dl.dl-horizontal
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    %dt= t('<%= singular_table_name %>.<%= attribute.name %>')
    %dd= @<%= singular_table_name %>.<%= attribute.name %>
  <% end -%>

  -if can? :update, @<%= singular_table_name %>
    = link_to t('actions.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), <%= index_helper %>_path, class: 'btn btn-mini'
