%h2
  =t('category_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('category_type.name')
      %th= t('category_type.description')
      -if can? [:update, :destroy], :category_type
        %th.actions
          Actions

  %tbody
  -@category_types.each do |category_type|
    %tr{:id => "category_type_#{category_type.id}"}
      %td= link_to category_type.name, category_type
      %td= category_type.description
      -if can? [:update, :destroy], :category_type
        %td.actions
          -if can? [:update], :category_type
            = link_to t('actions.edit'), edit_category_type_path(category_type), class: "btn btn-mini"
          -if can? [:destroy], :category_type
            = link_to t('actions.destroy'), category_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :category_type
  %br
  = link_to t ('actions.new_record', record: t('category_type.model_name')), new_category_type_path, class: "btn btn-small btn-success"