%h2
  =t('forms.details')
  =" - "
  = @category_type.name
%div#category_type
  %dl.dl-horizontal
    %dt= t('category_type.name')
    %dd= @category_type.name
    %dt= t('category_type.description')
    %dd= @category_type.description
  
  -if can? :update, @category_type
    = link_to t('actions.edit'), edit_category_type_path(@category_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), category_types_path, class: 'btn btn-mini'
