%h2
  =t('physical_characteristic_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('physical_characteristic_type.name')
      %th= t('physical_characteristic_type.description')
      -if can? [:update, :destroy], :physical_characteristic_type
        %th.actions
          Actions

  %tbody
  -@physical_characteristic_types.each do |physical_characteristic_type|
    %tr{:id => "physical_characteristic_type_#{physical_characteristic_type.id}"}
      %td= link_to physical_characteristic_type.name, physical_characteristic_type
      %td= physical_characteristic_type.description
      -if can? [:update, :destroy], :physical_characteristic_type
        %td.actions
          -if can? [:update], :physical_characteristic_type
            = link_to t('actions.edit'), edit_physical_characteristic_type_path(physical_characteristic_type), class: "btn btn-mini"
          -if can? [:destroy], :physical_characteristic_type
            = link_to t('actions.destroy'), physical_characteristic_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :physical_characteristic_type
  %br
  = link_to t('actions.new_record', record: t('physical_characteristic_type.model_name')), new_physical_characteristic_type_path, class: "btn btn-small btn-success"