%h2
  =t('forms.details')
  =" - "
  = @physical_characteristic_type.name
%div#physical_characteristic_type
  %dl.dl-horizontal
    %dt= t('physical_characteristic_type.name')
    %dd= @physical_characteristic_type.name
    %dt= t('physical_characteristic_type.description')
    %dd= @physical_characteristic_type.description
  
  -if can? :update, @physical_characteristic_type
    = link_to t('actions.edit'), edit_physical_characteristic_type_path(@physical_characteristic_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), physical_characteristic_types_path, class: 'btn btn-mini'
