%h2
  =t('payor_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('payor_role.person_id')
      %th.actions
        Actions

  %tbody
  -@payor_roles.each do |payor_role|
    %tr{:id => "payor_role_#{payor_role.id}"}

      %td= link_to payor_role.person_id, payor_role

      %td.actions
        = link_to t('actions.edit'), edit_payor_role_path(payor_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), payor_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('payor_role.model_name')), new_payor_role_path, class: "btn btn-small btn-success"