%h2
  =t('forms.details')
  =" - "
  = @payor_role.person_id
%div#payor_role
  %dl.dl-horizontal
    %dt
      =t('payor_role.person_id')
    %dd
      = @payor_role.person_id
  
  = link_to t('actions.edit'), edit_payor_role_path(@payor_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), payor_roles_path, class: 'btn btn-mini'
