%h2
  =t('parent_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('parent_role.person_id')
      %th.actions
        Actions

  %tbody
  -@parent_roles.each do |parent_role|
    %tr{:id => "parent_role_#{parent_role.id}"}

      %td= link_to parent_role.person_id, parent_role

      %td.actions
        = link_to t('actions.edit'), edit_parent_role_path(parent_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), parent_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('parent_role.model_name')), new_parent_role_path, class: "btn btn-small btn-success"