%h2
  =t('forms.details')
  =" - "
  = @parent_role.person_id
%div#parent_role
  %dl.dl-horizontal
    %dt
      =t('parent_role.person_id')
    %dd
      = @parent_role.person_id
  
  = link_to t('actions.edit'), edit_parent_role_path(@parent_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), parent_roles_path, class: 'btn btn-mini'
