= simple_form_for @employee_role, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('employee_role.model_name')


  .form-inputs
    = f.input :person_id, label: t('employee_role.person_id')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),employee_roles_path, class: 'btn btn-mini'
