%h2
  =t('employee_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('employee_role.person_id')
      %th.actions
        Actions

  %tbody
  -@employee_roles.each do |employee_role|
    %tr{:id => "employee_role_#{employee_role.id}"}

      %td= link_to employee_role.person_id, employee_role

      %td.actions
        = link_to t('actions.edit'), edit_employee_role_path(employee_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), employee_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('employee_role.model_name')), new_employee_role_path, class: "btn btn-small btn-success"