%h2
  =t('forms.details')
  =" - "
  = @employee_role.person_id
%div#employee_role
  %dl.dl-horizontal
    %dt
      =t('employee_role.person_id')
    %dd
      = @employee_role.person_id
  
  = link_to t('actions.edit'), edit_employee_role_path(@employee_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), employee_roles_path, class: 'btn btn-mini'
