/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input-facebook
 *= require_tree .
 */

/*classes*/

.red {color: #ff4e5e;}
.red_border { border: 1px solid #ff4e5e; }
.dec_grey {color: #a8acc0;}
/* Person */
div#person {margin-top: 20px;}

.filter_heading {font-weight: bold;margin-right: 15px;}
.filter_links {color: #787878;}
.hidden { display: none;}




/* Forms */
abbr[title="required"] {color: #ff4e5e;}
a.disabled, a.disabled:hover {color: #999999;}
.nested-fields { margin: 20px 0;}

#categories, #languages, #marital_statuses, #trainings {margin-top: 35px;}

