= simple_form_for @organization, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('organization.model_name')


  .form-inputs
    = f.input :current_name, label: t('organization.current_name')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),organizations_path, class: 'btn btn-mini'
