%h2
  =t('organization.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('organization.current_name')
      -if can? [:update, :destroy], :organization
        %th.actions
          Actions

  %tbody
  -@organizations.each do |organization|
    %tr{:id => "organization_#{organization.id}"}
      %td= link_to organization.current_name, organization
      -if can? [:update, :destroy], :organization
        %td.actions
          -if can? [:update], :organization
            = link_to t('actions.edit'), edit_organization_path(organization), class: "btn btn-mini"
          -if can? [:destroy], :organization
            = link_to t('actions.destroy'), organization, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :organization
  %br
  = link_to t('actions.new_record', record: t('organization.model_name')), new_organization_path, class: "btn btn-small btn-success"