%h2
  =t('forms.details')
  =" - "
  = @organization.current_name
%div#organization
  %dl.dl-horizontal
    %dt= t('organization.current_name')
    %dd= @organization.current_name
  
  -if can? :update, @organization
    = link_to t('actions.edit'), edit_organization_path(@organization), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), organizations_path, class: 'btn btn-mini'
