= simple_form_for(@category, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification


  %legend
    = controller.action_name.capitalize
    =t('category.model_name')

  .form-inputs
    = f.association :category_type, collection: CategoryType.order("name ASC"), label: t('category_type.model_name'), prompt: t('forms.please_select')
    = f.input :name
    = f.input :description

  .form-actions
    = f.button :submit, t('actions.save'), class: 'btn btn-primary btn-small'
    = link_to t('actions.back'), categories_path, class: "btn btn-small"