%h2
  =t('category.index_heading')

= will_paginate @categories

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('category.name')
      %th= t('category.description')
      %th= t('category.category_type')
      -if can? [:update, :destroy], :category
        %th
          Actions
  %tbody
  -@categories.each do |category|
    %tr{:id => "category_#{category.id}"}
      %td= link_to category.name, category
      %td= category.description
      %td= category.category_type.name
      -if can? [:update, :destroy], :category
        %td
          -if can? :update, :category
            = link_to t('actions.edit'), edit_category_path(category), class: "btn btn-mini"
          -if can? :destroy, :category
            = link_to t('actions.destroy'), category, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"
-if can? :create, :category
  %br
  = link_to t('actions.new_record', record: t('category.model_name')), new_category_path, class: "btn btn-small btn-success"