%h2
  =t('form.details')
  =" - "
  = @category.name
%div#category
  %dl.dl-horizontal
    %dt=t('category.name')
    %dd= @category.name
    %dt=t('category.description')
    %dd= @category.description
    %dt=t('category.category_type')
    %dd= @category.category_type.name
  
  -if can? :update, @category
    = link_to t('actions.edit'), edit_category_path(@category), class: 'btn btn-primary btn-small'
  = link_to t('actions.back'), categories_path, class: 'btn btn-small'
