= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('user.model_name')


  .form-inputs
    = f.association :application_user_role, collection: ApplicationUserRole.order('name asc'), label: t('user.application_user_role_id'), :prompt => t('forms.please_select')
    = f.input :firstname, label: t('user.firstname')
    = f.input :lastname, label: t('user.lastname')
    = f.input :email, label: t('user.email')
    = f.input :company_id, label: t('user.company_id'), as: :string
    .js-datepicker
      = f.input :date_of_birth, label: t('user.date_of_birth'), as: :string
    = f.input :password, label: t('user.password')
    = f.input :password_confirmation, label: t('user.password_confirmation')
  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),admin_users_path, class: 'btn btn-mini'
