%h2
  =t('user.index_heading')

= will_paginate @users

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('user.firstname')
      %th= t('user.lastname')
      %th= t('user.email')
      %th= t('user.company_id')
      %th= t('user.date_of_birth')
      -if can? [:update, :destroy], :user
        %th
          Actions

  %tbody
  -@users.each do |user|
    %tr{:id => "user_#{user.id}"}
      %td=link_to user.firstname, admin_user_path(user)
      %td= user.lastname
      %td= user.email
      %td= user.company_id
      %td= user.date_of_birth
      -if can? [:update, :destroy], :user
        %td
          -if can? :update, user
            = link_to t('actions.edit'), edit_admin_user_path(user), class: "btn btn-mini"
          -if can? :destroy, user
            = link_to t('actions.destroy'), admin_user_path(user), :method => :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? :create, :user
  %br
  = link_to t('actions.new_record', record: t('user.model_name')), new_admin_user_path, class: "btn btn-small btn-success"