%h2
  =t('form.details')
  =" - "
  = @user.fullname
%div#user
  %dl.dl-horizontal
    %dt= t('user.firstname')
    %dd= @user.firstname
    %dt= t('user.lastname')
    %dd= @user.lastname
    %dt= t('user.email')
    %dd= @user.email
    %dt= t('user.company_id')
    %dd= @user.company_id
    %dt= t('user.date_of_birth')
    %dd= @user.date_of_birth
  -if can? :update, @user
    = link_to t('actions.edit'), edit_admin_user_path(@user), class: 'btn btn-primary btn-small'
  = link_to t('actions.back'), admin_users_path, class: 'btn btn-small'
