%h2
  =t('child_role.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        =t('child_role.person_id')
      %th.actions
        Actions

  %tbody
  -@child_roles.each do |child_role|
    %tr{:id => "child_role_#{child_role.id}"}

      %td= link_to child_role.person_id, child_role

      %td.actions
        = link_to t('actions.edit'), edit_child_role_path(child_role), class: "btn btn-mini"
        = link_to t('actions.destroy'), child_role, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"


%br

= link_to t('actions.new_record', record: t('child_role.model_name')), new_child_role_path, class: "btn btn-small btn-success"