%h2
  =t('forms.details')
  =" - "
  = @child_role.person_id
%div#child_role
  %dl.dl-horizontal
    %dt
      =t('child_role.person_id')
    %dd
      = @child_role.person_id
  
  = link_to t('actions.edit'), edit_child_role_path(@child_role), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), child_roles_path, class: 'btn btn-mini'
