%h2
  =t('training_class_type.index_heading')

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('training_class_type.name')
      %th= t('training_class_type.description')
      -if can? [:update, :destroy], :training_class_type
        %th.actions
          Actions

  %tbody
  -@training_class_types.each do |training_class_type|
    %tr{:id => "training_class_type_#{training_class_type.id}"}
      %td= link_to training_class_type.name, training_class_type
      %td= training_class_type.description
      -if can? [:update, :destroy], :training_class_type
        %td.actions
          -if can? [:update], :training_class_type
            = link_to t('actions.edit'), edit_training_class_type_path(training_class_type), class: "btn btn-mini"
          -if can? [:destroy], :training_class_type
            = link_to t('actions.destroy'), training_class_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

-if can? [:create], :training_class_type
  %br
  = link_to t('actions.new_record', record: t('training_class_type.model_name')), new_training_class_type_path, class: "btn btn-small btn-success"