%h2
  =t('forms.details')
  =" - "
  = @training_class_type.name
%div#training_class_type
  %dl.dl-horizontal
    %dt= t('training_class_type.name')
    %dd= @training_class_type.name
    %dt= t('training_class_type.description')
    %dd= @training_class_type.description
  
  -if can? :update, @training_class_type
    = link_to t('actions.edit'), edit_training_class_type_path(@training_class_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), training_class_types_path, class: 'btn btn-mini'
