= simple_form_for @diagnosis_type, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('diagnosis_type.model_name')


  .form-inputs
    = f.input :name, label: t('diagnosis_type.name')
    = f.input :description, label: t('diagnosis_type.description')
    = f.input :code, label: t('diagnosis_type.code')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),diagnosis_types_path, class: 'btn btn-mini'
