%h2
  =t('diagnosis_type.index_heading')

= will_paginate @diagnosis_types

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('diagnosis_type.code')
      %th= t('diagnosis_type.name')
      %th.span6= t('diagnosis_type.description')
      -if can? [:update, :destroy], :diagnosis_type
        %th.actions
          Actions

  %tbody
  -@diagnosis_types.each do |diagnosis_type|
    %tr{:id => "diagnosis_type_#{diagnosis_type.id}"}
      %td= diagnosis_type.code
      %td= link_to diagnosis_type.name, diagnosis_type
      %td= diagnosis_type.description
      -if can? [:update, :destroy], :diagnosis_type
        %td.actions
          -if can? [:update], :diagnosis_type
            = link_to t('actions.edit'), edit_diagnosis_type_path(diagnosis_type), class: "btn btn-mini"
          -if can? [:destroy], :diagnosis_type
            = link_to t('actions.destroy'), diagnosis_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

= will_paginate @diagnosis_types

-if can? [:create], :diagnosis_type
  %br
  = link_to t('actions.new_record', record: t('diagnosis_type.model_name')), new_diagnosis_type_path, class: "btn btn-small btn-success"