%h2
  =t('forms.details')
  =" - "
  = @diagnosis_type.name
%div#diagnosis_type
  %dl.dl-horizontal
    %dt= t('diagnosis_type.code')
    %dd= @diagnosis_type.code
    %dt= t('diagnosis_type.name')
    %dd= @diagnosis_type.name
    %dt= t('diagnosis_type.description')
    %dd= @diagnosis_type.description

  
  -if can? :update, @diagnosis_type
    = link_to t('actions.edit'), edit_diagnosis_type_path(@diagnosis_type), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), diagnosis_types_path, class: 'btn btn-mini'
