.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        = "Zetta Genomics"
      .nav-collapse
        %ul.nav
          %li= link_to t('organization.model_name').pluralize, organizations_path
          %li= link_to t('person.model_name').pluralize, people_path
          -if  user_signed_in? && current_user.admin?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = t('application.admin')
                %b.caret
              %ul.dropdown-menu
                %li.dropdown-submenu
                  %a.dropdown-toggle{ "tabindex" => "-1", "data-toggle" => "dropdown", :href => "#"}
                    = t('application.types')
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to t('category_type.model_name').pluralize, category_types_path
                    %li= link_to t('contact_mechanism_type.model_name').pluralize, contact_mechanism_types_path
                    %li= link_to t('contact_mechanism_purpose_type.model_name').pluralize, contact_mechanism_purpose_types_path
                    %li= link_to t('diagnosis_type.model_name').pluralize, diagnosis_types_path
                    %li= link_to t('gender_type.model_name').pluralize, gender_types_path
                    %li= link_to t('physical_characteristic_type.model_name').pluralize, physical_characteristic_types_path
                    %li= link_to t('unit_of_measure.model_name_plural'), unit_of_measures_path
                    %li= link_to t('geographic_boundary_type.model_name').pluralize, geographic_boundary_types_path
                    -#%li= link_to t('health_care_category.model_name').pluralize, health_care_categories_path
                    %li= link_to t('marital_status_type.model_name').pluralize, marital_status_types_path
                    -#%li= link_to t('medical_condition_type.model_name').pluralize, medical_condition_types_path
                    -#%li= link_to t('person_relationship_type.model_name').pluralize, person_relationship_types_path
                    -#%li= link_to t('person_role_status_type.model_name').pluralize, person_role_status_types_path
                    %li= link_to t('role_type.model_name').pluralize, role_types_path
                    %li= link_to t('person_status_type.model_name').pluralize, person_status_types_path
                    -#%li= link_to t('physical_characteristic_type.model_name').pluralize, physical_characteristic_types_path
                    -#%li= link_to t('sanction_type.model_name').pluralize, sanction_types_path
                    %li= link_to t('training_class_type.model_name').pluralize, training_class_types_path
                %li.divider
                %li= link_to t('user.model_name').pluralize, admin_users_path
                %li= link_to t('category.model_name').pluralize, categories_path
                %li= link_to t('geographic_boundary.model_name').pluralize, geographic_boundaries_path
                %li= link_to t('language.model_name').pluralize, languages_path
          -if user_signed_in?
            %li
              = link_to "#{current_user.firstname} (#{current_user.application_user_role.name.downcase}) - logout", destroy_user_session_path, :method => :delete
          -else
            %li
              = link_to 'login', new_user_session_path

