!!!
%html
  =render 'layouts/header'
  %body
    = render 'layouts/menu'
    .container
      .row
        .span12
          - if flash.present?
            - flash.each do |name, msg|
              %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                %a.close{"data-dismiss" => "alert"} ×
                = msg
      .row
        .span12
          = yield
