!!!
%html
  =render 'layouts/header'
  %body
    = render 'layouts/menu'
    .container
      .row
        .span9
          - if flash.present?
            - flash.each do |name, msg|
              %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                %a.close{"data-dismiss" => "alert"} ×
                = msg
      .row
        .span9
          = yield
        .span3
          %h3
            = t('application.sidebar_header')
          %p
            = t('application.sidebar_header')

          .sidebar_content
            = yield :sidebar