= simple_form_for @geographic_boundary, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  %legend
    = controller.action_name.capitalize
    =t('geographic_boundary.model_name')


  .form-inputs
    = f.input :name, label: t('geographic_boundary.name')
    = f.input :geo_code, label: t('geographic_boundary.geo_code')
    = f.input :abbreviation, label: t('geographic_boundary.abbreviation')
    = f.association :geographic_boundary_type, label: t('geographic_boundary.geographic_boundary_type_id'), :prompt => t('forms.please_select')

  .form-actions
    = f.submit t('actions.save'), class: 'btn btn-primary btn-mini'
    = link_to t('actions.back'),geographic_boundaries_path, class: 'btn btn-mini'
