%h2
  =t('geographic_boundary.index_heading')


.well.well-small
  .filter_heading.pull-left
    Filters
  .filter_links.pull-left
    = type_filters

= will_paginate @geographic_boundaries
- unless @geographic_boundaries.empty?
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th= t('geographic_boundary.name')
        %th= t('geographic_boundary.abbreviation')
        %th= t('geographic_boundary.geographic_boundary_type_id')
        -if can? [:update, :destroy], :geographic_boundary
          %th.actions
            Actions

    %tbody
    -@geographic_boundaries.each do |geographic_boundary|
      %tr{:id => "geographic_boundary_#{geographic_boundary.id}"}
        %td= link_to geographic_boundary.name, geographic_boundary
        %td= geographic_boundary.abbreviation
        %td= geographic_boundary.geographic_boundary_type.name
        -if can? [:update, :destroy], :geographic_boundary
          %td.actions
            -if can? [:update], :geographic_boundary
              = link_to t('actions.edit'), edit_geographic_boundary_path(geographic_boundary), class: "btn btn-mini"
            -if can? [:destroy], :geographic_boundary
              = link_to t('actions.destroy'), geographic_boundary, method: :delete, data: { confirm: t('actions.are_you_sure') }, class: "btn btn-mini btn-danger"

  = will_paginate @geographic_boundaries
-else
  %p
    -if params[:filter].present?
      = t('actions.no_filtered_records', record: t('geographic_boundary.model_name'), filter: params[:filter]).html_safe
    -else
      = t('actions.no_records', record: t('geographic_boundary.model_name'))
-if can? [:create], :geographic_boundary
  %br
  = link_to t('actions.new_record', record: t('geographic_boundary.model_name')), new_geographic_boundary_path, class: "btn btn-small btn-success"