%h2
  =t('forms.details')
  =" - "
  = @geographic_boundary.name
%div#geographic_boundary
  %dl.dl-horizontal
    %dt= t('geographic_boundary.name')
    %dd= @geographic_boundary.name
    %dt= t('geographic_boundary.geo_code')
    %dd= @geographic_boundary.geo_code
    %dt= t('geographic_boundary.abbreviation')
    %dd= @geographic_boundary.abbreviation
    %dt= t('geographic_boundary.geographic_boundary_type_id')
    %dd= @geographic_boundary.geographic_boundary_type_id

  -unless @geographic_boundary.children.empty?
    %dt=t('geographic_boundary.associated_records')
    %dd
      %ul
        -@geographic_boundary.children.order('name asc').each do |child|
          %li= link_to child.name, child



  -if can? :update, @geographic_boundary
    = link_to t('actions.edit'), edit_geographic_boundary_path(@geographic_boundary), class: 'btn btn-primary btn-mini'
  = link_to t('actions.back'), geographic_boundaries_path, class: 'btn btn-mini'
